<html>
  <body>
    <h1>Request chaining</h1>
    Call one api -> use the result to call another API, display results from the second API.<br>
    Horrible practice this helps to avoid is:
    <pre>
      export class MyComponent &#123;
        ...
        public void onUserFiltersLoaded(userFilters: UserFilters) &#123;
          ... do something with user filters
          this.subscriptions.add(
            this.yetAnotherService.loadYetAnotherThing(userFilters.someValue).subscribe(...)
          );
        &#125;

        public void onUserPreferencesLoaded(userPreferences: UserPreferences) &#123;
          ... do something with user preferences
          this.subscriptions.add(
            this.filterService.loadFilters(userPreferences.userFilterPreference).subscribe(this.onUserFiltersLoaded.bind(this))
          )
        &#125;

        public ngOnInit() &#123;
          this.subscriptions.add(
            this.userPreferencesService.load().subscribe(this.onUserPreferencesLoaded.bind(this))
          );
        &#125;
      &#125;
    </pre>

    <button (click)="requestChaining()">Go!</button>
    <br>
    <small>Using switchMap is better with http reqs, bcs it unsubscribes from the unused request</small>

    <table *ngIf="(firstNeoDetail$ | async) as firstNeoDetail" border="1">
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Diameter</th>
        <th>Potentially hazardous</th>
      </tr>
      <tr>
        <td>{{firstNeoDetail.id}}</td>
        <td>{{firstNeoDetail.name}}</td>
        <td>{{firstNeoDetail['estimated_diameter_min']}}</td>
        <td>{{firstNeoDetail['is_potentially_hazardous_asteroid']}}</td>
      </tr>
    </table>

    <hr>

    <h1>Returning values from both requests</h1>
    Call one api -> use the result -> produce an observable with both, the detail and the list<br>
    Trying to avoid the same thing as last time, but sometimes you need the result of both calls
    <button (click)="bothRequests()">Go!</button>
    <br>
    <small>Used to be possible by using a second argument to concatMap/switchMap, called "result selector", but
    that's now deprecated so you have to use inner map, which imo is a bit ugly</small>
    <table *ngIf="(bothApis$ | async) as bothApis" border="1">
      <tr>
        <th>First object name</th>
        <th>Number of objects</th>
      </tr>
      <tr>
        <td>{{bothApis['firstObjectName']}}</td>
        <td>{{bothApis['noOfObjects']}}</td>
      </tr>
    </table>

    <hr>

    <h1>Waiting for multiple unrelated requests to finish</h1>
    Call multiple apis in parallel -> wait for all the results, then do something with all of them. Not entirely possible with
    subscribe, when you don't know in what order they'll finish.<br>
    Horrible practice this helps avoid:
    <pre>
      export class MyClass &#123;
        private api1Results;
        private api2Results;

        ...

        private handleResults() &#123;
          if (this.api1Results == undefined || this.api2Results == undefined) &#123;
            return;
          &#125;

          ... do something with both api1Results and api2Restuls available
        &#125;

        private onApi1Results(api1Results) &#123;
          this.api1Results = api1Results;
          this.handleResults();
        &#125;

        private onApi2Results(api2Results) &#123;
          this.api2Results = api2Results;
          this.handleResults();
        &#125;

        ngOnInit() &#123;
          this.subscriptions.add(this.apiService.callApi1().subscribe(this.onApi1Results));
          this.subscriptions.add(this.apiService.callApi2().subscribe(this.onApi2Results));
        &#125;
      &#125;
    </pre>
    <button (click)="parallelRequests()">Go!</button>
    <table *ngIf="(parallelRequestsResult$ | async) as parallelRequestsResult" border="1">
      <tr>
        <th>Number of objects</th>
        <th>Random object name</th>
      </tr>
      <tr>
        <td>{{parallelRequestsResult[0].length}}</td>
        <td>{{parallelRequestsResult[1].name}}</td>
      </tr>
    </table>
    <hr>

    <h1>Action observables</h1>
    Instead of putting the code to the click method emit an observable. useful when there are mutliple sources
    for the same action.
    <button (click)="actionObservable$.next(1)">Source1</button>
    <button (click)="actionObservable$.next(2)">Source2</button>
    <button (click)="actionObservable$.next(3)">Source3</button>
    <br>
    <small>Using "scan" operator here, which is similar to reduce with seed value.</small>
    <br>
    <table *ngIf="(actionObservableResult$ | async) as actionObservableResult">
      <tr>
        <th>Current Value</th>
        <td>{{actionObservableResult}}</td>
      </tr>
    </table>

    <hr>

    <h1>Multiple inputs</h1>
    Often component has an @Input which can change, maybe an url parameter, but also the user can change it and the
    component needs to react to all of these.
    <form [formGroup]="form">
      <input formControlName="testInput"/>
    </form>
    <b>Current value: </b> {{multipleInputsValue$ | async}}
  </body>
</html>
